<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\update-user.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="form container s-center">
	<h1 class="fs-4 card-title fw-bold mb-40 text-center ms-auto label-white">Actualizar el usuario
		{{email}}</h1>

	<form [formGroup]="userUpdateForm" (ngSubmit)="ngOnInit()" autocomplete="off">

		<!-- *****************INPUT NAME***************** -->

		<div class="mb-3">
			<label class="label-white" for="name">Nombre</label>
			<input type="text" id="name" name="name" placeholder={{name}} formControlName="name" class="form-control">

			<div *ngIf="userUpdateForm.get('name')?.touched && userUpdateForm.get('name')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userUpdateForm.get('name')?.touched && userUpdateForm.get('name')?.errors?.['minlength']"
				class="text-danger"> Por favor, introduzca un nombre valido</div>
		</div>


		<!-- *****************INPUT APELLIDOS***************** -->

		<div class="mb-3">
			<label class="label-white" for="surname">Apellidos</label>
			<input type="text" id="surname" name="surname" placeholder={{surname}} formControlName="surname"
				class="form-control">


			<div *ngIf="userUpdateForm.get('surname')?.touched && userUpdateForm.get('surname')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userUpdateForm.get('surname')?.touched && userUpdateForm.get('surname')?.errors?.['minlength']"
				class="text-danger"> Por favor, introduzca un apellido valido</div>
		</div>


		<!-- *****************INPUT CORREO***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Dirección de correo electronico</label>
			<input type="text" id="surname" name="email" placeholder={{email}} formControlName="email"
				class="form-control" readonly>

		</div>

		<!-- *****************INPUT CONTRASEÑA***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Contraseña</label>
			<input type="password" id="password" name="password" placeholder="****" formControlName="password"
				class="form-control">


			<div *ngIf="userUpdateForm.get('password')?.touched && userUpdateForm.get('password')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userUpdateForm.get('password')?.touched && userUpdateForm.get('password')?.errors?.['pattern']"
				class="text-danger">
				Por favor, introduzca una contraseña valida.
				(Al menos un número, un caracter, una letra en mayúscula, una letra en minúscula
				con una longitud entre 8 y 16 caracteres)</div>
		</div>

		<!-- *****************INPUT CONFIRMACIÓN CONTRASEÑA***************** -->

		<div class="mb-3">
			<label class="label-white" for="passwordConfirm">Confirme su contraseña</label>
			<input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="****"
				formControlName="passwordConfirm" class="form-control">


			<div *ngIf="userUpdateForm.get('passwordConfirm')?.touched && userUpdateForm.get('passwordConfirm')?.errors?.['required'] "
				class="text-danger"> Campo requerido</div>

			<div *ngIf=" userUpdateForm.get('passwordConfirm')?.touched && !checkPasswords(userUpdateForm)"
				class="text-danger">
				Las contraseñas no coinciden</div>
		</div>
		<div class="mb-3">

			<div class="text-center">
				<button class=" btn btn-primary ms-auto btn-lg" type="submit" (click)="updateUser()">
					Actualizar usuario
				</button>

				<button class=" btn btn-secondary ms-auto btn-lg" (click)="back()">
					Volver
				</button>
			</div>
		</div>


		<div class="mb-3">

			<div class="alert alert-danger" *ngIf="msgError"> Los cambios no han sido guardados
			</div>

			<div class="alert alert-success" *ngIf="msgError == false"> El usuario ha sido
				actualizado correctamente

			</div>
		</div>
	</form>



</div>


</html>