.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form {

    width: 60%;
    height: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    /* Radio de las esquinas redondeadas */
    padding: 40px;
    /* Espacio alrededor del formulario */
    background-color: rgba(0, 0, 0, 0.719);
    /* Fondo transparente negro */
}


.btn.btn-primary,
.btn.btn-primary.active {
    color: #ffffff;
    background-color: #ff00ff;
    /* Rosa neón brillante */

    border-color: #ff00ff;
    /* Rosa neón brillante */

    border: 2px solid #ff00ff;
    /* Borde sólido de 2px de ancho y color azul (#007bff) */
    padding: 10px 20px;
    /* Espacio alrededor del texto del botón */
    color: rgb(255, 255, 255);
    /* Color del texto */
    cursor: pointer;
    /* Cambiar el cursor al pasar el mouse */
}

.label-white {
    color: white;
    font-weight: bold; /* Aplica la negrita al texto del label */


}

.h-white {
    color: rgb(255, 255, 255);
    font-size: 150%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Aplica un efecto de borde luminoso */
    font-weight: bold; /* Aplica la negrita al texto del label */
  
  }