

/* Definir la animación de movimiento llamada "movimiento-fondo" */


.btn.btn-primary,
.btn.btn-primary.active {
  background-color: #ff00aa; /* Rosa neón brillante */

  border-color:#ff00aa; /* Rosa neón brillante */

  border: 2px solid #ff00aa; /* Borde sólido de 2px de ancho y color azul (#007bff) */
  padding: 10px 20px; /* Espacio alrededor del texto del botón */
  color: rgb(255, 255, 255); /* Color del texto */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}



.form {

  width: 50%;
  height: 40%;
  margin-top: 5%;
  border-radius: 30px; /* Radio de las esquinas redondeadas */
  padding: 40px; /* Espacio alrededor del formulario */
  background-color: rgba(0, 0, 0, 0.719); /* Fondo transparente negro */

}

.label-white {
  color: white;
  font-weight: bold; /* Aplica la negrita al texto del label */


}
.label-fucsia {
  color: white;

}


.accordion-button{
    background-image: url('\src\assets\fondo.jpg'); /* Color fucsia con 50% de transparencia */
    border-radius: 10px; /* Bordes redondeados */

    
}


.h-white {
  color: rgb(247, 246, 246);
  font-size: 150%;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Aplica un efecto de borde luminoso */
  font-weight: bold; /* Aplica la negrita al texto del label */

}



.overlay {
  text-align: center; /* Centra horizontalmente los elementos */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  mix-blend-mode: hard-light;

}



