

            <h1 class="fs-4 card-title fw-bold mb-4 text-center ms-auto">Reporte de base de datos {{this.getBDName()}}</h1>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Categoria</th>
                  <th scope="col">Chequeo realizado</th>
                  <th scope="col">Resultado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Configuración</th>
                  <td>Modo de autenticación</td>

                  <td>
                    <div *ngIf="this.getChecklist1()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist1()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist1()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Existencia de troyanos</td>
                  <td>
                    <div *ngIf="this.getChecklist2()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist2()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist2()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Restricciones de acceso para procedimientos peligrosos</td>
                  <td>
                    <div *ngIf="this.getChecklist3()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist3()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist3()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Red</th>
                  <td>Cifrado de conexiones entrantes</td>
                  <td>
                    <div *ngIf="this.getChecklist4()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist4()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist4()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Permisos</th>
                  <td>Permisos asociados al usuario guest</td>
                  <td>
                    <div *ngIf="this.getChecklist5()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist5()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist5()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Permisos de la función base de datos publica</td>
                  <td>
                    <div *ngIf="this.getChecklist6()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist6()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist6()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Políticas de contraseñas</th>
                  <td>Contraseñas inseguras</td>
                  <td>
                    <div *ngIf="this.getChecklist7()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist7()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist7()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Revisiones periodicas de contraseñas no seguras</td>
                  <td>
                    <div *ngIf="this.getChecklist8()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist8()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist8()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Revisión de inicios de sesión</th>
                  <td>Inicios de sesion sin politica segura</td>
                  <td>
                    <div *ngIf="this.getChecklist9()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist9()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist9()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Inicios de sesion no utilizados</td>
                  <td>
                    <div *ngIf="this.getChecklist10()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist10()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist10()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Inicios de sesión fallidos</td>
                  <td>
                    <div *ngIf="this.getChecklist11()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist11()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist11()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Mantenimiento</th>
                  <td>Plan de mantenimiento</td>
                  <td>
                    <div *ngIf="this.getChecklist12()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist12()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist12()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Datos sensibles</th>
                  <td>Datos sensibles</td>
                  <td>
                    <div *ngIf="this.getChecklist13()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist13()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist13()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Datos cifrados</td>
                  <td>
                    <div *ngIf="this.getChecklist14()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist14()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist14()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Roles</th>
                  <td>Miembros con rol sysadmin</td>
                  <td>
                    <div *ngIf="this.getChecklist15()==0">
                      <img src="./assets/OK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist15()==1">
                      <img src="./assets/NOK.jpg" height="30" width="30" loading="lazy" />
                    </div>
                    <div *ngIf="this.getChecklist15()==-1" class="text-danger">
                      <img src="./assets/WARNING.jpg" height="30" width="30" loading="lazy" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

