.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form {

    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    /* Radio de las esquinas redondeadas */
    padding: 20px;
    /* Espacio alrededor del formulario */
    background-color: rgba(0, 0, 0, 0.719);
    /* Fondo transparente negro */
    display: flex;



}

.div1 {
    width: 15%; /* Dividir el ancho del div general en dos partes iguales */
    float: left; /* Hace que div1 y div2 se coloquen uno al lado del otro */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
    padding: 10px; /* Espacio interno para div1 y div2 */
  }

  .div2 {
    width: 85%; /* Dividir el ancho del div general en dos partes iguales */
    float: center; /* Hace que div1 y div2 se coloquen uno al lado del otro */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
    padding: 40px; /* Espacio interno para div1 y div2 */
  }

.btn.btn-primary,
.btn.btn-primary.active {
    color: #ffffff;
    background-color: #ff00ff;
    /* Rosa neón brillante */

    border-color: #ff00ff;
    /* Rosa neón brillante */

    border: 2px solid #ff00ff;
    /* Borde sólido de 2px de ancho y color azul (#007bff) */
    padding: 10px 20px;
    /* Espacio alrededor del texto del botón */
    color: rgb(255, 255, 255);
    /* Color del texto */
    cursor: pointer;
    /* Cambiar el cursor al pasar el mouse */
}

.label-white {
    color: white;
    font-weight: bold; /* Aplica la negrita al texto del label */

}

.label-time {
    margin-top: -5%;
    color: rgb(243, 243, 248);
    font-size: 50%;
    font-weight: bold; /* Aplica la negrita al texto del label */
    text-align: right;


}

.label-string {
    width: 100%;
    color: white;
    overflow-wrap: break-word;
    font-style: italic;


}


.gif-container {
    /* Asegura que el contenedor tenga un ancho y alto definido para que la rotación sea visible. */

    /* Aplica una animación de rotación llamada "rotate" con una duración de 2 segundos y la hace infinita. */
    animation: rotate 2s infinite linear;
    mix-blend-mode: screen;
    margin-top: 5%;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Ángulo inicial de rotación */
    }

    to {
        transform: rotate(360deg);
        /* Ángulo final de rotación (una vuelta completa) */
    }
}


.overlay {
    text-align: center; /* Centra horizontalmente los elementos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    mix-blend-mode: hard-light;

}



/* Definición de la animación */
@keyframes animacion-geometrica {
    0% {
        background-position: 0 0;
        /* Posición inicial del patrón */
    }

    100% {
        background-position: 40px 40px;
        /* Posición final del patrón (mueve el patrón) */
    }
}

.h-black {
    color: rgb(12, 2, 5);
    font-size: 150%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Aplica un efecto de borde luminoso */
    font-weight: bold; /* Aplica la negrita al texto del label */
  
  }
  
  .h-white {
    color: rgb(247, 246, 246);
    font-size: 150%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Aplica un efecto de borde luminoso */
    font-weight: bold; /* Aplica la negrita al texto del label */
  
  }

  .text-danger{
    font-weight: bold; /* Aplica la negrita al texto del label */
}


th[scope="col"] {
    color: white;
    background-color: #ff00ff;
  
  
  }
  
  th[scope="row"] {
    color: #0b0c0c;
  
  
  
  }
  

  
  td,
  th {
    border: 1px solid black;
    padding: 5px;
    font-size: 50%;
  }

  table {
    width: 50px; /* Establece el ancho fijo en píxeles o el valor deseado */
    border-collapse: collapse;
  }