<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\user-connection.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="overlay" *ngIf="!showPrincipal">

	<!-- Contenido de la ventana de carga (puedes personalizarlo) -->
	<div class="gif-container">
		<img class="imgGif" src="./assets/loading.png" />
	</div>
	<label class="h-white">Conectando con la base de datos ...</label>

</div>

<!-- Resto de tu contenido -->

<div class="form container s-center" *ngIf="showPrincipal">
	<h1 class="fs-4 card-title fw-bold mb-4 text-center ms-auto label-white">Analice su base de datos SQL server</h1>
	<form [formGroup]="conexionForm" (ngSubmit)="onSubmit()" autocomplete="off">

		<!-- *****************INPUT CADENA DE CONEXION***************** -->

		<div class="mb-3">
			<label class="label-white" for="cadena">Introduzca la cadena de conexion a su base de
				datos</label>
			<input type="text" id="cadena" name="cadena" formControlName="cadena" class="form-control" required>
			<label class="label-string" style="font-size: 14px;" for="cadena">
				jdbc:sqlserver://your_server;databaseName=your_database_name;
				user=your_user;password=your_password;trustServerCertificate=true;
			</label>


			<div *ngIf="conexionForm.get('cadena')?.touched && conexionForm.get('cadena')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="conexionForm.get('cadena')?.touched && conexionForm.get('cadena')?.errors?.['pattern']"
				class="text-danger"> Por favor, introduzca una cadena de conexión valida</div>

		</div>
		<div class="mb-3 text-center lg">

			<button type="submit" class=" btn btn-primary ms-auto form-control" [disabled]="conexionForm.invalid">

				Conectar
			</button>
		</div>
		<div class="mb-3">

			<div class="alert alert-danger" *ngIf="msgError"> Error al conectar con su base de datos.
				Compruebe que la conexión remota este correctamente configurada.
			</div>

		</div>

	</form>

</div>



</html>