<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo"
							width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4 text-center">Cambiar contraseña</h1>
							<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">


								<!-- *****************INPUT CONTRASEÑA***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Contraseña</label>
									<input type="text" id="password" name="password" required formControlName="password"
										class="form-control">


									<div *ngIf="ChangePasswordForm.get('password')?.touched && ChangePasswordForm.get('password')?.errors?.['required']"
										class="text-danger"> Campo requerido</div>

									<div *ngIf="ChangePasswordForm.get('password')?.touched && ChangePasswordForm.get('password')?.errors?.['pattern']"
										class="text-danger">
										Por favor, introduzca una contraseña valida.
										(Al menos un número, un caracter, una letra en mayúscula, una letra en minúscula
										con una longitud entre 8 y 16 caracteres)</div>
								</div>

								<!-- *****************INPUT CONFIRMACIÓN CONTRASEÑA***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="passwordConfirm">Confirme su contraseña</label>
									<input type="text" id="passwordConfirm" name="passwordConfirm" required
										formControlName="passwordConfirm" class="form-control">


									<div *ngIf="ChangePasswordForm.get('passwordConfirm')?.touched && ChangePasswordForm.get('passwordConfirm')?.errors?.['required'] "
										class="text-danger"> Campo requerido</div>

									<div *ngIf=" ChangePasswordForm.get('passwordConfirm')?.touched && !checkPasswords(ChangePasswordForm)"
										class="text-danger">
										Las contraseñas no coinciden</div>
								</div>


								<div class="mb-3 text-center lg">
									<button class=" btn btn-primary ms-auto form-control" type="submit"
										[disabled]="ChangePasswordForm.invalid">
										Cambiar contraseña
									</button>
								</div>


								<div class="mb-3 text-center lg">

									<div class="alert alert-danger" *ngIf="msgError"> La dirección de correo no es
										valida </div>
								
									<div class="alert alert-success" *ngIf="msgError == false"> La contraseña ha sido
										cambiada correctamente
										<a href="/">
											Inicie sesión
										</a>
									</div>

								</div>

							</form>
						</div>

					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2017-2021 &mdash; Your Company
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/login.js"></script>
</body>

</html>