<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=".\user-list.component.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="form container s-center">
        <h1 class="fs-4 card-title fw-bold mb-40 text-center ms-auto h-white">Gestión de usuarios</h1>
        <table class="table auto-size">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>


            </thead>
            <!-- El bucle recorre cada usuario de users-->
            <!-- Este archivo html está asociado a su respectivo .ts -->
            <!-- users es una propiedad definida en el .ts users: User[]-->
            <tbody>
                <tr *ngFor="let user of users">
                    <!-- {{}} Es interpolación para acceder a los campos -->
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>



                    <td><button class="btn btn-primary" routerLink="/admin/details/{{user.token}}">Ver</button></td>
                    <td><button class="btn btn-primary" routerLink="/admin/update/{{user.token}}">Editar</button></td>
                    <td><button class="btn btn-primary" (click)="delete(user.email)">Eliminar</button></td>

                </tr>
            </tbody>
        </table>
    </div>