<!DOCTYPE html>
<html lang="en">

<head>
	<title>Change password</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\change-password.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="form container s-center">
	<h1 class="fs-4 card-title fw-bold mb-4 text-center label-white">Cambiar contraseña</h1>
	<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
		<!-- *****************INPUT TOKEN***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Codigo de seguridad</label>
			<input type="text" id="token" name="token" required formControlName="token" class="form-control">


			<div *ngIf="ChangePasswordForm.get('token')?.touched && ChangePasswordForm.get('token')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>
		</div>

		<!-- *****************INPUT CONTRASEÑA***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Contraseña</label>
			<input type="password" id="password" name="password" required formControlName="password" class="form-control">


			<div *ngIf="ChangePasswordForm.get('password')?.touched && ChangePasswordForm.get('password')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="ChangePasswordForm.get('password')?.touched && ChangePasswordForm.get('password')?.errors?.['pattern']"
				class="text-danger">
				Por favor, introduzca una contraseña valida.
				(Al menos un número, un caracter, una letra en mayúscula, una letra en minúscula
				con una longitud entre 8 y 16 caracteres)</div>
		</div>

		<!-- *****************INPUT CONFIRMACIÓN CONTRASEÑA***************** -->

		<div class="mb-3">
			<label class="label-white" for="passwordConfirm">Confirme su contraseña</label>
			<input type="password" id="passwordConfirm" name="passwordConfirm" required formControlName="passwordConfirm"
				class="form-control">


			<div *ngIf="ChangePasswordForm.get('passwordConfirm')?.touched && ChangePasswordForm.get('passwordConfirm')?.errors?.['required'] "
				class="text-danger"> Campo requerido</div>

			<div *ngIf=" ChangePasswordForm.get('passwordConfirm')?.touched && !checkPasswords(ChangePasswordForm)"
				class="text-danger">
				Las contraseñas no coinciden</div>
		</div>


		<div class="mb-3 text-center lg">
			<button class=" btn btn-primary ms-auto form-control" type="submit" [disabled]="ChangePasswordForm.invalid">
				Cambiar contraseña
			</button>
		</div>


		<div class="mb-3 text-center lg">

			<div class="alert alert-danger" *ngIf="msgError"> No se han podido guardar los cambios. Intentelo de nuevo
			</div>

			<div class="alert alert-success" *ngIf="msgError == false"> La contraseña ha sido
				cambiada correctamente
				<a href="/">
					Inicie sesión
				</a>
			</div>

		</div>

	</form>
</div>



</html>