
.navbar{
  margin-top: -1%;
}
.btn.btn-link {
  color: #ff00ff;
  border-color: #ff00ff;
  border-width: 3px; /* Grosor del borde */
  background-color: inherit;

}

.btn.btn-link:active {
  background-color:  #ff00ff;; /* Cambio de color al hacer clic */
}

.h-white {
  color: rgb(247, 246, 246);
  font-size: 100%;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Aplica un efecto de borde luminoso */
  font-weight: bold; /* Aplica la negrita al texto del label */
}