<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="user/connection">
            <img src="./assets/logo.png" height="80" alt="" loading="lazy" style="margin-top: 1px;" /><label
                class="h-white">SafeSQL</label>

        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample" mdbCollapse #buttonsNav="">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="ml-auto">
                <button type="button" class="btn btn-link px-3 me-2" routerLink="" *ngIf="isLoggedIn == false">
                    Login
                </button>
                <button type="button" class="btn btn-link px-3 me-2" routerLink="user/register"
                    *ngIf="isLoggedIn == false">
                    Registrate
                </button>

                <button type="button" class="btn btn-link px-3 me-2" routerLink="user/history-reports" *ngIf="isLoggedIn == true && role() == 'USER'">
                    Historico de reportes
                </button>
                <button type="button" class="btn btn-link px-3 me-2" (click)="onSubmit()" *ngIf="isLoggedIn == true">
                    Mi cuenta
                </button>

                <button type="button" class="btn btn-link px-3 me-2" (click)="back()" *ngIf="isLoggedIn == true">
                    Salir
                </button>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>

<!-- Navbar -->