<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="container text-center">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4 text-center ms-auto">Configure el analisis</h1>



            <div class="row">
              <div class="col"> Configuración
                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>
              <div class="col">Red
                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>

              <div class="col">Permisos

                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>

              <div class="col">Políticas
                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>

              <div class="col"> Sesiones
                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>
              <div class="col">Mantenimiento
                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>

              <div class="col">Datos sensibles
                <div style="display: block; width: 100px; height: 100px;">
                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>

              <div class="col">Roles
                <div style="display: block; width: 100px; height: 100px;">

                  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
                  </canvas>
                </div>

              </div>


            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>