<!DOCTYPE html>
<html lang="en">

<head>
  <title>Error page</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href=".\error-page.component.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>



<div class="form container s-center" >

  <h1 class="fs-4 card-title fw-bold mb-4 text-center ms-auto h-white">Página en mantenimiento
  </h1>
  <img class ="img" src="./assets/maintenance.jpg" alt=''  loading="lazy"  />

  </div>
  