<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo"
							width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4 text-center">Registro</h1>
							<form  [formGroup]="userForm" (ngSubmit)="onSubmit()"
								autocomplete="off">

								<!-- *****************INPUT NAME***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="name">Nombre</label>
									<input type="text" id="name" name="name" required formControlName="name" class="form-control">

									<div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['required']"
									class="text-danger"> Campo requerido</div>

									<div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['minlength']"
									class="text-danger"> Por favor, introduzca un nombre valido</div>
								</div>


								<!-- *****************INPUT APELLIDOS***************** -->

									<div class="mb-3">
										<label class="mb-2 text-muted" for="surname">Apellidos</label>
										<input type="text" id="surname" name="surname" required formControlName="surname" class="form-control">


											<div *ngIf="userForm.get('surname')?.touched && userForm.get('surname')?.errors?.['required']"
											class="text-danger"> Campo requerido</div>
		
											<div *ngIf="userForm.get('surname')?.touched && userForm.get('surname')?.errors?.['minlength']"
											class="text-danger"> Por favor, introduzca un apellido valido</div>
									</div>


								<!-- *****************INPUT CORREO***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Dirección de correo electronico</label>
									<input type="text" id="surname" name="email" required formControlName="email" class="form-control">


										<div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']"
										class="text-danger"> Campo requerido</div>
	
										<div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['pattern']"
										class="text-danger"> Por favor, introduzca un correo valido</div>
								</div>

								<!-- *****************INPUT CONTRASEÑA***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Contraseña</label>
									<input type="text" id="password" name="password" required formControlName="password" class="form-control">


										<div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['required']"
										class="text-danger"> Campo requerido</div>
	
										<div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['pattern']"
										class="text-danger"> 												
										Por favor, introduzca una contraseña valida.
										(Al menos un número, un caracter, una letra en mayúscula, una letra en minúscula con una longitud entre 8 y 16 caracteres)</div>
								</div>

								<!-- *****************INPUT CONFIRMACIÓN CONTRASEÑA***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="passwordConfirm">Confirme su contraseña</label>
									<input type="text" id="passwordConfirm" name="passwordConfirm" required formControlName="passwordConfirm" class="form-control">


										<div *ngIf="userForm.get('passwordConfirm')?.touched && userForm.get('passwordConfirm')?.errors?.['required'] "
										class="text-danger"> Campo requerido</div>
	
										<div *ngIf=" userForm.get('passwordConfirm')?.touched && !checkPasswords(userForm)"
										class="text-danger"> 												
										Las contraseñas no coinciden</div>
								</div>


									<div class="text-center">
										<button class=" btn btn-primary ms-auto form-control" type="submit"
											[disabled]="userForm.invalid">
											Registarse
										</button>
									</div>
							</form>
						</div>

					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2017-2021 &mdash; Your Company
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/login.js"></script>
</body>

</html>