/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


body{
 
    background-image: url('\src\assets\fondo.jpg');
    /* Ajustar la imagen al tamaño de la ventana */
    background-size: cover;
    animation: animacion-geometrica 10s linear infinite alternate;

}

/* Definición de la animación */
@keyframes animacion-geometrica {
    0% {
      background-position: 0 0; /* Posición inicial del patrón */
    }
    100% {
      background-position: 40px 40px; /* Posición final del patrón (mueve el patrón) */
    }
  }
  
  
  
    
    
    
    
    
  
  
  