

/* Definir la animación de movimiento llamada "movimiento-fondo" */


.btn.btn-primary,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: #ff00aa; /* Rosa neón brillante */

  border-color:#ff00aa; /* Rosa neón brillante */

  border: 2px solid #ff00aa; /* Borde sólido de 2px de ancho y color azul (#007bff) */
  padding: 10px 20px; /* Espacio alrededor del texto del botón */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}


.form {

  width: 30%;
  height: 40%;
  margin-top: 5%;
  border-radius: 30px; /* Radio de las esquinas redondeadas */
  padding: 40px; /* Espacio alrededor del formulario */
  background-color: rgba(0, 0, 0, 0.719); /* Fondo transparente negro */


}

.label-white {
  color: white;
  font-weight: bold; /* Aplica la negrita al texto del label */


}

.text-danger{
  font-weight: bold; /* Aplica la negrita al texto del label */
}


