<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\register-user.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="form container s-center">

	<h1 class="fs-4 card-title fw-bold mb-4 text-center label-white">Registro</h1>
	<form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">

		<!-- *****************INPUT NAME***************** -->

		<div class="mb-3">
			<label class="label-white" for="name">Nombre</label>
			<input type="text" id="name" name="name" required formControlName="name" class="form-control">

			<div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.errors?.['minlength']"
				class="text-danger"> Por favor, introduzca un nombre valido</div>
		</div>


		<!-- *****************INPUT APELLIDOS***************** -->

		<div class="mb-3">
			<label class="label-white" for="surname">Apellidos</label>
			<input type="text" id="surname" name="surname" required formControlName="surname" class="form-control">


			<div *ngIf="userForm.get('surname')?.touched && userForm.get('surname')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userForm.get('surname')?.touched && userForm.get('surname')?.errors?.['minlength']"
				class="text-danger"> Por favor, introduzca un apellido valido</div>
		</div>


		<!-- *****************INPUT CORREO***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Dirección de correo electronico</label>
			<input type="text" id="surname" name="email" required formControlName="email" class="form-control">


			<div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['pattern']"
				class="text-danger"> Por favor, introduzca un correo valido</div>
		</div>

		<!-- *****************INPUT CONTRASEÑA***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Contraseña</label>
			<input type="password" id="password" name="password" required formControlName="password" class="form-control">


			<div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['required']"
				class="text-danger"> Campo requerido</div>

			<div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['pattern']"
				class="text-danger">
				Por favor, introduzca una contraseña valida.
				(Al menos un número, un caracter, una letra en mayúscula, una letra en minúscula
				con una longitud entre 8 y 16 caracteres)</div>
		</div>

		<!-- *****************INPUT CONFIRMACIÓN CONTRASEÑA***************** -->

		<div class="mb-3">
			<label class="label-white" for="passwordConfirm">Confirme su contraseña</label>
			<input type="password" id="passwordConfirm" name="passwordConfirm" required formControlName="passwordConfirm"
				class="form-control">


			<div *ngIf="userForm.get('passwordConfirm')?.touched && userForm.get('passwordConfirm')?.errors?.['required'] "
				class="text-danger"> Campo requerido</div>

			<div *ngIf=" userForm.get('passwordConfirm')?.touched && !checkPasswords(userForm)" class="text-danger">
				Las contraseñas no coinciden</div>
		</div>


		<div class="mb-3 text-center lg">
			<button class=" btn btn-primary ms-auto form-control" type="submit" [disabled]="userForm.invalid">
				Registarse
			</button>
		</div>

		<div class="mb-3 text-center lg">

			<div class="alert alert-danger" *ngIf="msgError"> Ha surgido un problema. Intentelo de nuevo.
			</div>
			<div class="alert alert-success" *ngIf="msgError == false"> El usuario ha sido creado correctamente.
				<a href="/">
					Inicie sesión
				</a>
			</div>

		</div>
	</form>

</div>


</html>