<!DOCTYPE html>
<html lang="en">

<head>
	<title>Forgot password</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\forgot-password.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="form container s-center">

	<form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()" autocomplete="off">

		<!-- *****************INPUT CORREO***************** -->

		<div class="mb-3">
			<label class="label-white" for="email">Dirección de correo electronico</label>
			<input type="text" id="surname" name="email" required formControlName="email" class="form-control">

			<div *ngIf="forgotPassForm.get('email')?.touched && forgotPassForm.get('email')?.errors?.['pattern']"
				class="text-danger"> Por favor, introduzca un correo valido</div>
		</div>



		<div class="mb-3 text-center lg">

			<button type="submit ms auto" class=" btn btn-primary ms-auto form-control">
				Enviar correo
			</button>
		</div>
		<div class="mb-3 text-center lg">

			<div class="alert alert-danger" *ngIf="msgError"> El correo introducido no es valido
			</div>
			<div class="alert alert-success" *ngIf="msgError == false"> Si existe una cuenta
				asociada recibira un correo para su restablecimiento
				<a href="/">
					Inicie sesión
				</a>
			</div>

		</div>

	</form>
</div>




</html>