<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-2">
						<img src="./assets/SafeSQL.jpg" alt="logo"
							width="150">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()" autocomplete="off">

								<!-- *****************INPUT CORREO***************** -->

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Dirección de correo electronico</label>
									<input type="text" id="surname" name="email" required formControlName="email"
										class="form-control">

									<div *ngIf="forgotPassForm.get('email')?.touched && forgotPassForm.get('email')?.errors?.['pattern']"
										class="text-danger"> Por favor, introduzca un correo valido</div>
								</div>



								<div class="mb-3 text-center lg">

									<button type="submit" class=" btn btn-primary ms-auto form-control">
										Enviar correo de restablecimiento
									</button>
								</div>
								<div class="mb-3 text-center lg">

									<div class="alert alert-danger" *ngIf="msgError"> El correo introducido no es valido
									</div>
									<div class="alert alert-success" *ngIf="msgError == false"> Si existe una cuenta
										asociada recibira un correo para su restablecimiento
										<a href="/">
											Inicie sesión
										</a>
									</div>

								</div>

							</form>
						</div>


					</div>

				</div>
				<div class="text-center mt-5 text-muted">
					Copyright &copy; 2017-2021 &mdash; Your Company
				</div>
			</div>
		</div>
	</section>

	<script src="js/login.js"></script>
</body>

</html>