<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard user</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\user-dashboard.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="overlay" *ngIf="!showPrincipal">

	<!-- Contenido de la ventana de carga (puedes personalizarlo) -->
	<div class="gif-container">
		<img class="imgGif" src="./assets/loading.png" />
	</div>
	<label class="h-white">Conectando con la base de datos ...</label>

</div>


<div class="form container s-center">
	<h1 class="fs-4 card-title fw-bold mb-4 text-center ms-auto h-white">Se ha conectado correctamente a la base de
		datos {{this.database}}<img src="./assets/OK.gif" height="80" width="ms-auto" />
	</h1>

	<div class="mb-3">
		<div><label class="label-time">Nombre del servidor: </label></div> <label class ="label-white">{{this.server}}</label>
		<div><label class="label-time">Nombre de la base de datos: </label></div> <label class ="label-white">{{this.database}}</label>
		<div><label class="label-time">Nombre del usuario conectado: </label></div> <label class ="label-white">{{this.user}}</label>
		<div><label class="label-time">Fecha de conexión: </label></div> <label class ="label-white">{{this.date}}</label>
	</div>
	


	<button type="button" class=" btn btn-primary ms-auto form-control" routerLink="/user/checklist">

		Configurar análisis
	</button>
	<div class="mb-3">

		<div class="alert alert-danger" *ngIf="msgError"> Error al iniciar el análisis.
			Compruebe que la conexión remota este correctamente configurada.
		</div>

	</div>


</div>



</html>