<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dashboard admin</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href=".\admin-dashboard.component.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<div class="form container s-center">

	<h1 class="fs-6 card-title fw-bold text-center mb-6 ms-auto label-white">¡Bienvenido {{this.nameUser}}!</h1>


	<h1 class="fs-4 card-title fw-bold mb-4 text-center ms-auto h-white">Gestión de usuarios y scripts

	
	</h1> 
	<label *ngIf="getTime() == true" class="label-time"> Último acceso: {{ this.dateFormat | date: 'yyyy-MM-dd HH:mm:ss' }}</label>


	<div class="mb-3 text-center lg">
		<button type="button" class=" btn btn-primary ms-auto form-control" routerLink="/admin/list">
			Gestionar usuarios
		</button>


	</div>
	<div class="mb-3 text-center lg">


		<button type="button" class=" btn btn-primary ms-auto form-control" routerLink="/admin/scripts">

			Gestionar scripts
		</button>
	</div>

</div>



</html>